/* history.css */

/* Import the same fonts used in index.css if needed */

html, body {
    margin: 0;
    min-height: 100%;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Make the container a flex container */
    background-color: #f2f2f2; /* Slightly darker gray background color */
}

.row {
    flex: 1; /* Allow the row to grow and take available vertical space */
    display: flex;
    flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines, as needed */
}

.col-lg-2, .col-sm {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow columns to grow and take available vertical space */
    overflow: hidden;
    background-color: #c1e1c1; /* Light green background color for the sidebar */
}

.history-content {
    padding: 20px;
    flex: 1;
    background-color: #c1e1c1; /* Light gray background color for the main content area */
    border-radius: 8px; /* Apply border-radius to all corners for a slightly rounded shape */
}

.nav-pills.nav-flush {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    padding: 0.5rem 0.75rem;
}

.sidebar-icon {
    width: 40px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* Style the history list items */
.list-group-item {
    border: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8f8f8; /* Light background color for list items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

/* Define a pastel color palette */
.pastel-green {
    background-color: #b3ffb3; /* Light green */
    color: #333; /* Dark text color */
}