/* history.css */

/* Import the same fonts used in index.css if needed */

html, body {
    margin: 0;
    min-height: 100%;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Make the container a flex container */
    background-color: #f2f2f2; /* Slightly darker gray background color */
}

.row {
    flex: 1; /* Allow the row to grow and take available vertical space */
    display: flex;
    flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines, as needed */
}

.col-lg-2, .col-sm {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow columns to grow and take available vertical space */
    overflow: hidden;    background-color: #c1e1c1; /* Light green background color for the sidebar */
}

.history-title {
    position: sticky;
    top: 0;
    background-color: #c1e1c1;
    padding: 5px;
    z-index: 1; /* Ensure it appears above the list */
}

.history-content {
    padding: 20px;
    flex: 1;
    background-color: #c1e1c1; /* Light gray background color for the main content area */
    border-radius: 8px; /* Apply border-radius to all corners for a slightly rounded shape */
    overflow-y: auto; /* Enable vertical scrolling for the content */
    max-height: calc(100vh - 90px); /* Adjust the maximum height as needed */
}

/* Style the scrollbar */
.history-content::-webkit-scrollbar {
    width: 10px;
}

.history-content::-webkit-scrollbar-track {
    background-color: #f2f2f200; /* Background color of the track */
}

.history-content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.nav-pills.nav-flush {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    padding: 0.5rem 0.75rem;
}

.sidebar-icon {
    width: 40px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* Style the conversation content */
.list-group-item {
    border: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8f8f8; /* Light background color for content items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

/* Define a pastel color palette */
.pastel-green {
    background-color: #b3ffb3; /* Light green */
    color: #333; /* Dark text color */
}

.delete-button {
    width: 20px; /* Set the width and height as needed */
    height: 20px;
    cursor: pointer; /* Add a pointer cursor to indicate clickability */
    margin-left: 10px; /* Add some spacing between conversation text and delete button */
}

/* Logo Image Size Adjustment */
a[title="Logo"] img {
    width: 90px; /* Adjust this value to the desired width */
    height: auto; /* This will maintain the aspect ratio of the logo */
}

