html, body {
    margin: 0;
    min-height: 100%;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.col-lg-2, .col-sm {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;    background-color: #c1e1c1;
}

.history-title {
    position: sticky;
    top: 0;
    background-color: #c1e1c1;
    padding: 5px;
    z-index: 1;
}

.history-content {
    padding: 20px;
    flex: 1;
    background-color: #c1e1c1;
    border-radius: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
}

/* Style the scrollbar */
.history-content::-webkit-scrollbar {
    width: 10px;
}

.history-content::-webkit-scrollbar-track {
    background-color: #f2f2f200;
}

.history-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.nav-pills.nav-flush {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    padding: 0.5rem 0.75rem;
}

.sidebar-icon {
    width: 40px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* Style the conversation content */
.list-group-item {
    border: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Define a pastel color palette */
.pastel-green {
    background-color: #b3ffb3;
    color: #333;
}

.delete-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* Logo Image Size Adjustment */
a[title="Logo"] img {
    width: 90px;
    height: auto;
}
