html, body {
    margin: 0;
    min-height: 100%;
}

.container-fluid {
    min-height: 100vh; /* vh unit ensures it takes at least the full height of the viewport */
}

.row {
    display: flex;
    flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines, as needed */
}

.col-lg-2, .col-sm {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Fixed height to match the viewport and ensure sidebar and chat box container are the same */
    overflow: hidden; /* Don't grow or shrink the sidebar, but allow it to be the size it needs */
}

.chat-box-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
}

.chat-box-container::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    height: 70px; /* Adjust the height of the gradient overlay as needed */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgb(255, 255, 255) 100%);
    z-index: 1; /* Ensure the gradient is on top of the messages */
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    position: relative;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.chat-box::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.chat-message {
    background-color: #e5e5ea;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    align-self: flex-start;
}

.user-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

#user-input {
    flex: 1;
    padding: 20px 60px 20px 30px; /* top, right, bottom, left padding */
    margin-right: 8px;
    border-radius: 50px;
    background-color: #f0f0f0;
    overflow-wrap: break-word;
    resize: none;
    overflow-y: auto; /* Keep the scroll functionality */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-face-color: transparent; /* IE */
    scrollbar-track-color: transparent; /* IE */
    transition: height 0.3s ease;
    border: none;
    line-height: 1.4; /* Adjust this value as needed */
    max-height: 5em; /* Set a maximum height for the user input box (5 lines) */
}

#user-input::-webkit-scrollbar {
    display: none; /* WebKit */
}


#user-input::placeholder {
    color: #888;
    line-height: inherit;
}

#send-button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-color: rgba(114, 197, 167, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}

.chat-bubble {
    display: inline-flex;
    margin-bottom: 8px;
    border-radius: 8px;
    max-width: 66%;
}

.user-bubble, .ai-bubble {
    display: flex;
}

.user-bubble {
    background-color: #2196f3;
    color: white;
    padding: 10px 15px;
    margin-left: auto;
    word-wrap: break-word;
    text-align: right; /* Adjusted to right for user messages */
}

.ai-bubble {
    display: flex;
    background-color: #8d00b8;
    color: white;
    padding: 10px 15px;
    margin-right: auto;
    word-wrap: break-word;
    text-align: left;
}

.sidebar-icon {
    width: 40px; /* adjust the size as needed */
    height: auto;
    margin-right: 5px; /* adds some space between the icon and the text */
    vertical-align: middle; /* aligns the icon with the text vertically */
}