/* login.css */

/* Import the same fonts used in index.css if needed */

html, body {
    margin: 0;
    min-height: 100%;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Make the container a flex container */
    background-color: #f2f2f2; /* Slightly darker gray background color */
}

.row {
    flex: 1; /* Allow the row to grow and take available vertical space */
    display: flex;
    flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines, as needed */
}

.col-lg-2, .col-sm {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow columns to grow and take available vertical space */
    overflow: hidden;
    background-color: #c1e1c1; /* Light green background color for the sidebar */
}

.login-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the card for the login content */
.login-card {
    background-color: #fff; /* White background color for the card */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners for the card */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

/* Style the login form elements as needed */
.login-form {
    /* Add your styles for the login form here */
}

/* Style the buttons */
.login-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: #007bff; /* Blue for the "Login" button */
    color: #fff;
}
