body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    height: 100vh;
    display: flex;
}

.col-lg-2 {
    display: flex;
    flex-direction: column;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: hidden;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat-message {
    background-color: #e5e5ea;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    align-self: flex-start;
}

.user-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

#user-input {
    flex: 1;
    padding: 10px;
    margin-right: 8px;
    border-radius: 50px;
    background-color: #f0f0f0;
    overflow-wrap: break-word;
    resize: none;
    overflow-y: hidden;
    transition: height 0.3s ease;
    border: none; /* Remove border for input */
}

#send-button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-color: rgba(114, 197, 167, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}

.chat-bubble {
    display: inline-flex;
    margin-bottom: 8px;
    border-radius: 8px;
    max-width: 66%;
}

.user-bubble, .ai-bubble {
    display: flex;
}

.user-bubble {
    background-color: #2196f3;
    color: white;
    padding: 10px 15px;
    margin-left: auto;
    word-wrap: break-word;
    text-align: left;
}

.ai-bubble {
    display: flex;
    background-color: #8d00b8;
    color: white;
    padding: 10px 15px;
    margin-right: auto;
    word-wrap: break-word;
    text-align: left;
}